  <div id="gallery-wrap">
      <div id="gallery">
        {{ $pages := where site.RegularPages "Type" "in" "works" }}
        {{ range  first 8 $pages }}
          {{partial "works/article-thum.html" .}}
        {{ end }}
      </div>
  </div>
  <p class="linkbutton">
  <a id="toworks"  href='{{"works" |relLangURL}}'>
    <span class= "hover-invert">See more works</span>
  </a>
</p>
{{$isotope := resources.Get "/js/isotope.pkgd.min.js"}}
<script src="{{$isotope.Permalink}}"></script>

<script type="text/javascript">


const container = document.querySelector('#gallery');
  const iso = new Isotope(container, {
    itemSelector: 'a.masonryelem',
    stagger: 30,
    transitionDuration: '0.2s',
    horizontalOrder: false,
    sortBy : 'original-order' ,
    masonry: {
      columnWidth: 'a article.smallthumbnail',
      gutter: 2,
      fitWidth: true
    }
    // initLayout: false
  });

  </script>
