<div id="profile">
  <a href="{{"about"|relLangURL}}" class="hover-invert">
  {{range (where .Site.Pages "Section" "about")}}
  {{if .Params.shortprofile}}
  {{ $icon := ((.Resources.GetMatch "profile2.jpg").Fill "150x150") }}
  <div class="icon">
    <img src="{{$icon.RelPermalink}}" alt="">
  </div>
  <div class="text">
    <p class="name ">{{.Params.name}}</p>
  <p class="profile">
    {{.Params.shortprofile}}
  </p>
  </div>
  {{end}}
  {{end}}
</a>

</div>
<p class="linkbutton">
<a id="toprofile"  href='{{"about" |relLangURL}}'>
  <span class= "hover-invert">See full profile/CV</span>
</a>
</p>
