h1{
  font-size:2.2rem;
  line-height: 190%;
}
h2{
  font-size:1.75rem;
  line-height: 190%;
}
h3{
  font-size:1.5rem;
  line-height: 190%;
}
h4{
  font-size:1.25rem;
  line-height: 190%;
}
h5{
  font-size: 1.125rem;
  line-height: 190%;
}
h6{
  font-size:1rem;
  line-height: 190%;
}
