header{
    margin: 30px auto;
    padding: 0 30px ;
    display: flex;
    justify-content: flex-start;
    max-height: 100px;
    overflow: hidden;
    .sitetitle, .menu , .locales{
      transition: 0.15s ease-out;
      height: 100%;
      a{
        line-height: 70px;
        display: inline-block;
      }
      a:hover{
          color: $main5;
          background-color: $main1;
      }

    }
    .sitetitle{
      top:0;
      width:200px;
    }
    a{
      margin:auto 0;
      text-align: center;
    }
    a.title{
        text-align: left;
      p{
        line-height: 1.5rem;
      }
    }

    .menu{
      margin-left: auto;
      background-color: $bg;
      z-index:99;
      font-size: 90%;
      a{
        padding:0 10px;
        }
      }
    .locales{
      z-index:99;
      background-color: $bg;
      font-size: 80%;
      margin-left: 10px;
      a{
        width: 50px;
      }
    }
    .nav-unshown {
  display:none;
  }
  #nav-open{
    z-index:999;
    align-self: flex-end;
    position: absolute;
    transform:translateY(-70px);
    margin: 0 auto;
    right:30px;
    top: 50-15px;
    display: block;
    cursor: pointer;
    color:$main3;

    :hover{
      background:$main1;
      color:$main5;
    }
    :checked{
      background:$main1;
      color:$main5;
    }
  }
  #nav-open span {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    padding:5px 4.5px 5px 5.5px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transform:scaleX(1.5);
    transition: 0.15s ease-out;
    align-self: flex-end;

}
}
$breakpoint-header: 676px;
@media (max-width: $breakpoint-header) {
  header{
    display: block;
    z-index: 999;
    padding: 0 3%;
    .menu,.locales{
      position: absolute;
      top:auto;
      bottom:auto;
      left:0;
      right:0;
      flex-wrap: wrap;
      height:auto;
      z-index: 999;
      width:100%;
      margin: auto;
      transform:translateY(-450px);
      a{
        position: relative;
        height:50px;
        width:100%;
        line-height: 50px;
      }
 
    }

    .locales{
      margin-top: 300px; 
    }
    #nav-open{
      transform:translateX(0%);
    }

    #nav-input:checked ~ #nav-open span{
      background-color: $main1;
      transform:scaleX(1.5) rotate(-180deg);
      color:$main5;
    }


  }
  #nav-input:checked~ div{
      transform:translateY(0px);
      // font-size: 500%;
      z-index: 999;

  }
}
