@import 'sanitize';
// end sanitize
@import 'variables';
@import 'fontsize';
@import 'init';
:root {
  font-size: 15px;
}
@import 'headermenu';
@import 'footer';
body{
  width:100%;
  #outer{
    width:100%;
    max-width:100%;


  a.article-header{

    display: block;
    position: relative;
    div{
      max-height:600px;
      width: 100%;
      overflow-y: hidden;
      img{
        max-height:600px;
        width:100%;
        object-fit: cover;
      }
    }
    p{
      font-size:2rem;
      width:100%;
      height:100px;
      margin:0 auto;
      padding:0 30px;
      position: absolute;
      bottom: 0;
      span.blurbox{
        position: absolute;
        overflow: hidden;
        left:0;
        bottom: 0;
        width: 100%;
        margin:0 auto;
        background: linear-gradient(to right,rgba(225, 234, 237,255) 30%, rgba(225, 234, 237,0) 90%);
        span{
          display: block;
          padding:10px;
          color:rgba(0,0,0,0);
        }
      }
      span.titlestring{
        position: absolute;
        padding:10px;
        left:0;
        bottom: 0;
        width: 100%;
        margin:0 auto;
        color: $main4;
        z-index: 99 ;
        &:hover{
          color:$main4;
        }
      }
    }
  }
 a.article-header p.title.noimage{
   .blurbox{
     display: none;
   }
   position: relative;
   max-width: 700px;
   padding:0;
   margin:0 auto;
   .titlestring{
     padding:0 30px;

   }
 }
  .publishdate,.lastmoddate{
    position: relative;
    font-size:0.8rem;
    max-width: 700px;
    padding:0 30px;
    margin: 0 auto;
    span.align{
      display: inline-block;
      min-width:85px;
    }
  }
  a article.list {
    // padding:30px;
    max-width:1000px;
    height:120px;
    overflow-y: hidden;
    margin:12px auto;
    position: relative;
    border-top:1px dotted $line;
    border-bottom:1px dotted $line;
    p{
      position: absolute;
      width: 100%;
      bottom:0;
      left:0;
      font-size:1.5em;
      background:linear-gradient(90deg,$main2 30%, rgba(225, 234, 237,0) 80%);
    }
    .image{
      position: absolute;
      right:0;
      width:100%;
      height:120px;
      img{
      width:100%;
      height:120px;
      object-fit: cover;
      filter:blur(2px);
    }
    }
    .summary{
      font-size:1rem;
      line-height:210%;
      letter-spacing: 0.7em;
      position: absolute;
      height:120px;
      width: 100%;
      top:0;
      // background-color: rgba(125,125,125,0.15);
    }

  }

  @import "research_article_list";
 .hover-invert:hover{
  background-color: $main1;
  color:$main5;
}
  .list-wrap>a:hover{
      color: $main5;
      p.title{
        background:linear-gradient(to right,$main1 30%, rgba(225, 234, 237,0) 80%);
      }
  }
  #inner{
  .markdown{
    max-width: 700px;
    margin:0px auto;
    padding:60px 30px;
    font-size: 1rem;
    line-height: 190%;
    p{
      margin:3rem 0;
      em{
        display: block;
        font-size:0.9rem;
        margin-bottom :-15px;
      }
      a:hover{
        background-color: $main1;
        color:$main5;
      }
      a.photo-container:hover{
        background:transparent;
      }
      sup.footnote-ref{
        vertical-align: sub;
      }
    }
    ul,ol{
      font-size: 1rem;
      list-style-position: outside;
      margin-left: 1.5em;
      li{
        margin-bottom:1em;
        line-height:1.35em;
        p{
          margin:0;
        }
      }
    }
    p#bibtex{
      font-family:"Lucida Console", Monaco, monospace;
      font-size:0.6rem;
      line-height: 170%;
      letter-spacing:0;
    }
    a{

      img:hover{
        transform: scale(1.02);
      }
    }
    blockquote{
      padding:0.1px 10px;
      // border:2px solid $main2*0.7;
      background:linear-gradient(90deg,rgba(232, 243, 247,255) 25%, rgba(225, 234, 237,0) 70%);
      color:$main3;
      font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    }
  }

}
#inner .list-wrap{
  // max-width:960+2*3px;
  min-width:370px;
  padding:30px 30px;
  margin: 0 auto;
}
.categories,.tags{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // max-width:100%;
}
#switchtoart,#switchtoclient,.tagselect{
  display: none;
}
.switchtoart-label,.switchtoclient-label,.tagselect-label{
  font-size: 0.7rem;
  color:$main1;
  letter-spacing: 0.1em;
  margin:2.5px;
  cursor: pointer;
}
#switchtoart:checked~ .switchtoart-label,#switchtoclient:checked~ .switchtoclient-label{
  background-color: $main1;
  color:$main5;
}

#inner.flex,#gallery{
  display:flex;
  margin:0 auto;
  flex-wrap: wrap;

  a article.thumbnail {
    width:300px;
    height:300px;
    position:relative;
    margin-bottom:2px;

    img{
      width:300px;
      height:300px;
      object-fit: cover;
    }
  }

  a article.bigthumbnail{
    width:602px;
    height:602px;
    img{
      width:602px;
      height:602px;
    }
  }
  a article p.title{
    width: 100%;
    position: absolute;
    bottom:0px;
    left:0px;
    padding:5px;
    background:linear-gradient(90deg,rgba(225, 234, 237,255) 30%, rgba(225, 234, 237,0) 80%);
  }
  a article.thumbnail:hover p.title{
      background:linear-gradient(to right,$main1 30%, rgba(225, 234, 237,0) 80%);
      color:$main5;
  }
  @media (max-width: $breakpoint-header){
    a article.thumbnail{
      width:150px;
      height:150px;
      font-size: 0.8rem;
      p.title{
        background:linear-gradient(to right,$main1 30%, rgba(225, 234, 237,0) 80%);
      }
      img{
        width:150px;
        height:150px;
      }
    }
    a article.bigthumbnail{
      width:302px;
      height:302px;
      img{
        width:302px;
        height:302px;
      }
    }
  }

  }
  #gallery-wrap{
    margin-bottom:30px;
    max-height: 300px;
    max-width: 1000px;
    margin: 0 auto;
    overflow-y: hidden;
  }
  #gallery{

    a article.thumbnail{
      width:150px;
      height:150px;
      img{
        width:150px;
        height:150px;
        object-fit: cover;
      }
    }
    a article.bigthumbnail{
      width:302px;
      height:302px;
      img{
        width:302px;
        height:302px;
        object-fit: cover;
      }
    }
    a article p.title{
      display:none;
    }
  }
  p.linkbutton{
    text-align: center;
  }
  a#toworks,a#toprofile{
    // width:100%;
    display: inline-block;
    margin:10px auto 30px;
    padding:10px;
    span{
    border:1px solid $main3;
    // border-radius: 10px;
    padding:7px 10px;
  }

  }
  #gallery,#news,#profile,#blog{
    padding: 0 3%;
    margin:0 auto;
    margin-bottom: 30px;
    p.index{
      font-size:1.5rem;
    }
  }
  #news,#profile,#blog{
    max-width:1000px;
    font-size: 1rem;
  }
  #profile{
    a{
      display: flex;
      align-items: center;

    }
    div.icon{
      min-width:150px;
      min-height:150px;
      margin-right: 10px;
      img{
        min-width:150px;
        min-height:150px;
        object-fit: cover;
      }
    }
    div.text{
      max-width:1000-60-150px;
    }
  }
  #news{
    box-sizing: border-box;
  }
  #blog{
    .blogarticle{
      height:100px;
      display:flex;
      overflow-y: hidden;
      .infolist{
        max-width:1000-60-100px;
        .summary{
          font-size:0.8rem;
        }
      }
      div.image{
        min-width:100px;
        height:100px;
      }
      img{
        width:100px;
        height:100px;
        object-fit: cover;
      }
    }

  }
  p.infolist,.blogarticle{
    border-bottom: 1px dotted $main1;
  }
}


#pagination{
  max-width:700px;
  padding:0 30px;
  min-width:350px;
  height:50px;
  display: flex;
  justify-content: center;
  margin:0 auto;
  margin-bottom: 30px;
  position: relative;
  font-size: 14px;
  >div{
    height:100%;
    a:hover{
      background-color: $main1;
      color:$main5;
    }
    a,span,.number{
      display: block;
      min-width:45px;
      padding:10px;
      margin:3px 0;
      text-align: center;
    }
  }
  .to_next ,.to_prev{
    width:40%;
    height:100%;
    a{
      width:100%;
      height:100%;
    }
  }
  .to_next .none,.to_prev .none{
    pointer-events: none;
  }

  .to_next{
    position: absolute;
    left: 30px;
    border-left: 1px dotted $main1;
  }
  .to_prev{
    position: absolute;
    right: 30px;
    border-right: 1px dotted $main1;
  }
  .to_index{
    width:70px;
    height:100%;
    padding:0 10px;
    position: absolute;
    left: 50%;
    vertical-align: middle;
    margin-left: -35px;
    a{
      display: inline;
      height: 100%;
      width: 50px;
      font-size: 3rem;
      line-height: 3rem;
      margin:0;
      padding: 0;
    }
  }
}
}

@media (max-width: $breakpoint-header){
  body #outer #inner .markdown{
    padding: 60px 3%;
  }
}