{{if eq .Params.bigthum true}} 
  {{ .Scratch.Set "size" "600" }}
{{else}}
  {{ .Scratch.Set "size" "300" }}
{{end}}
{{$size:= (.Scratch.Get "size")}}
{{if .Resources.GetMatch .Params.thum }}
 {{.Scratch.Set "thum" ((.Resources.GetMatch .Params.thum).Fill (printf "%sx%s Center q90 webp" $size $size)).Permalink  }}
{{else}}
  {{.Scratch.Set "thum" .Params.thum}}
{{end}}
{{$thum:= (.Scratch.Get "thum")}}

<a href="{{.Permalink}}" class = "masonryelem" data-category="{{.Params.category}}" data-tags="{{with .Params.tags }}{{ delimit . " " }}{{end}}">
  <article class="thumbnail{{if eq .Params.bigthum true}} bigthumbnail{{else}} smallthumbnail{{end}}">
  <p class="title">{{ .Title }}({{.Date.Format "2006"}})</p>

  <div class="image"><img src="{{$thum}}" alt="" {{if eq .Params.bigthum true}} width="600" height="600"{{else}} width="300" height="300" {{end}}></div>
  </article>
</a>
