<header>

      <div class="sitetitle">
      <a href="{{.Site.BaseURL | absLangURL}}" class="title">
        <p>Matsuura Tomoya</p>
        <p>マツウラトモヤ</p>
        <p>松浦知也</p>
      </a>
      </div>
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span>V</span></label>

      <div class="menu">
        {{ $currentPage := . }}
        {{range .Site.Menus.main}}
        <a href="{{.URL|absLangURL}}" {{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>
          {{.Name}}
        </a>
        {{ end }}
      </div>
    <div class="locales">
      {{ if .IsTranslated }}

      {{range .Translations}}
      <a href="{{.Permalink}}">
        <span>
          {{.Lang}}
        </span>
      </a>
      {{end}}
      {{ end }}
    </div>

</header>
