  {{$description:= $.Site.Params.description}}

  {{if .Description}}
  {{$description = .Description}}
  {{else if .Summary}}
  {{$description = .Summary}}
  {{ end }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keyword" content="松浦知也,Matsuura Tomoya,{{with .Keywords}}{{.}}{{end}}">
    <meta name="description" content="{{$description}}">
    <meta http-equiv="content-language" content="{{.Lang}}" />
    <meta property="og:title" content="{{ .Title }} | Matsuura Tomoya|松浦知也" />
    <meta property="og:type" content="{{if .IsPage}}article{{else}}website{{end}}">
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@tomoya_nonymous">
    <meta property="twitter:creator" content="@tomoya_nonymous">
    <meta property="twitter:creator:id" content="@tomoya_nonymous">
    <meta property="og:url" content="{{.Permalink}}" />
    <meta property="og:image" content="{{if .Params.ogpimage}}{{.Permalink}}{{.Params.ogpimage}}{{else}}{{$.Site.BaseURL}}assets/img/image_ogp.png{{ end }}" />
    <meta property="twitter:image" content="{{if .Params.ogpimage}}{{.Permalink}}{{.Params.ogpimage}}{{else}}{{$.Site.BaseURL}}assets/img/image_ogp.png{{ end }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="fb:app_id" content="1756749324544053" />
    <meta property="og:description" content="{{$description}}"/>
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="canonical" href="{{.Permalink}}">
  {{with .NextInSection}}<link rel="next" href="{{.}}">{{end}}
  {{with .PrevInSection}}<link rel="prev" href="{{.}}">{{end}}
