<div id="pagination">
      <div>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.First.URL }}"><<</a>
        {{ else }}
        <span><<</span>
        {{ end }}
      </div>
      <div>
        {{if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}"><</a>
        {{ else }}
        <span><</span>
        {{ end }}
      </div>
      <div>
        <div class="number">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</div>
      </div>
      <div>
        {{if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">></a>
        {{ else }}
        <span>></span>
        {{ end }}
      </div>
      <div>
        {{if .Paginator.HasNext }}
        <a href="{{ .Paginator.Last.URL }}">>></a>
        {{ else }}
        <span>>></span>
        {{ end }}
      </div>
</div>
