{{ define "main" }}
<div id="inner">
  <div id="list-wrap">
    <h1>Research</h1>

      {{.Content}}

    {{$categories := (slice "thesis" "journals" "proceedings" "presentation")}}
    {{$pages := .Pages}}
    {{range $categories}}
      {{$mypages := (where $pages ".Params.category" .)}}
      {{ if gt (len $mypages) 0}}
          <p class="category">{{humanize .}}</p>
          {{range $mypages}}
            {{ partial "research/article-thum.html" .}}
          {{end}}
      {{end}}
    {{end}}

    {{$others := (where $pages ".Params.category" "not in" $categories)}}
    {{ if gt (len $others) 0}}
    <p class="category">Others (Reviews / Informal Research / Random Writings)</p>
      {{range $others}}
        {{ partial "research/article-thum.html" .}}
      {{end}}
    {{end}}
    </div>
    </div>
{{ end }}
