{{ define "main" }}
<div class="categories">
<input type="checkbox" id="switchtoart" name="artworks" checked>
<label for="switchtoart" class="switchtoart-label">ARTWORKS</label>
<input type="checkbox" id="switchtoclient" name="clientworks" checked>
<label for="switchtoclient" class="switchtoclient-label">CLIENTWORKS</label>
</div>
<div class="tags">
{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
<input type="checkbox" class ="tagselect" id="tag-{{$name}}" checked>
<label for="tag-{{$name}}" class ="tagselect-label" data-tagname="{{$name}}" >#{{$name|upper}}</label>
<style>
  input#tag-{{$name}}:checked ~ label[data-tagname='{{$name}}']{
    background-color:#06262B;
    color:#02B2D4;
  }
</style>
{{end}}
</div>
<div id="inner" class = "flex">

    {{ range .Pages }}
      {{ partial "works/article-thum.html" .}}
    {{ end }}
  </div>
  {{$isotope := resources.Get "/js/isotope.pkgd.min.js"}}
  <script src="{{$isotope.Permalink}}"></script>

<script type="text/javascript">


  const elem_whole = Array.from(document.querySelectorAll("#inner>a.masonryelem"));
  const genWholeTags = (elems) => {
    let set = new Set();
    elems.forEach(el => {
      const tags = el.dataset.tags.split(' ');
      tags.forEach(e => set.add(e))});
    return Array.from(set);
  };
  const tags_whole = genWholeTags(elem_whole);
  const categories_whole = ['artwork', 'clientwork'];

  const container = document.querySelector('#inner');
  const iso = new Isotope(container, {
    itemSelector: '#inner>a.masonryelem',
    stagger: 30,
    transitionDuration: '0.2s',
    horizontalOrder: false,
    sortBy : 'original-order' ,
    masonry: {
      columnWidth: 'a article.smallthumbnail',
      gutter: 2,
      fitWidth: true
    }
    // initLayout: false
  });

  const filterItemsOr = (items, choices) => {
    var res = items.filter(item => choices.includes(item));
    return res.length > 0;
  };

  function updateItems(current_items, newcategories, newtags) {
    const filtered_items = elem_whole.filter(el => {
      const _tags = el.dataset.tags.split(' ');
      const _category = el.dataset.category? [el.dataset.category] : ["artwork"];//default:artwork
      return filterItemsOr(newtags, _tags) && filterItemsOr(_category, newcategories)
    });

    iso.arrange({
      // item element provided as argument
      filter: ( itemElem ) =>  filtered_items.includes(itemElem)
    });
  }

  let artbutton = document.querySelector('#switchtoart');
  let clientbutton = document.querySelector('#switchtoclient');

  function getCurrentCategories(){
    let res = [];
    if(artbutton.checked){
      res.push("artwork");
    }
    if(clientbutton.checked){
      res.push("clientwork");
    }
    return res;
  }

  let current_items = [];
  let current_tags = tags_whole;

  const categoryListener = (e) => {
    updateItems(iso.getItemElements(),getCurrentCategories(),current_tags);
  }
  artbutton.addEventListener("change", categoryListener);
  clientbutton.addEventListener("change", categoryListener);
  const tagbuttons = document.querySelectorAll('label.tagselect-label');

  tagbuttons.forEach(but => {
    but.addEventListener('change', e => {
      var newtags = current_tags.slice();
      if (e.target.checked) {
        newtags.push(e.target.name);
      } else {
        newtags = newtags.filter(item => item != e.target.name);
      }
      console.log(newtags);
      updateItems(iso.getItemElements(),getCurrentCategories(),newtags);
    });
  });
  //  Initialize
  updateItems(elem_whole,categories_whole,tags_whole);

</script>
{{ end }}