{{ define "head" }}
  <head>
  {{ $sass := resources.Get "scss/style.scss" }}
  {{ $options := (dict "targetPath" "style.css" "enableSourceMap" true) }}
  {{ $style := $sass | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ partialCached "photoswipe-head.html" .}}

  {{ partial "meta.html" . }}
  <title>{{if .Title}}{{ .Title }} | {{end}}Matsuura Tomoya|松浦知也</title>
</head>
{{ end }}


{{ define "main" }}
<div id="inner">
{{partial "works/article-header.html" .}}
{{ partial "single-content.html" .}}
{{ partial "single-pagination.html" .}}

</div>

{{ partialCached "photoswipe-template.html" .}}
{{ partial "markdown-image-gallery.html" .}}

{{ end }}
